<?xml version="1.0"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://www.w3.org/2001/12/soap-envelope" SOAP-ENV:encodingStyle="http://www.w3.org/2001/12/soap-encoding" >
	<SOAP-ENV:Body xmlns:lle="http://www.xyz.org/lifelogevents" >
	<lle:Event>
		<lle:eventid>ID1</lle:eventid>
		<lle:tweet>
			<lle:text>I saw a cat today</lle:text>
			<lle:location>
				<lle:lat>-31.9505</lle:lat>
				<lle:long>115.8605</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
	<lle:Event>
		<lle:eventid>ID2</lle:eventid>
		<lle:facebook-status-update>
			<lle:text>Facebook destroys people!</lle:text>
			<lle:location>
				<lle:lat>-32.0569</lle:lat>
				<lle:long>115.7439</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:facebook-status-update>
	</lle:Event>
	<lle:Event>
		<lle:eventid>ID3</lle:eventid>
		<lle:photo>
			<lle:filepath>C:/image.jpg</lle:filepath>
			<lle:location>
				<lle:lat>-33.0569</lle:lat>
				<lle:long>115.9405</lle:long>
			</lle:location>
		</lle:photo>
	</lle:Event>
	<lle:Event>
		<lle:eventid>ID4</lle:eventid>
		<lle:video>
			<lle:filepath>C:/film.mp4</lle:filepath>
			<lle:location>
				<lle:lat>-34.9584</lle:lat>
				<lle:long>114.1568</lle:long>
			</lle:location>
			<lle:start-time>
				<lle:datetimestamp>datetimestamp</lle:datetimestamp>
			</lle:start-time>
			<lle:end-time>
				<lle:datetimestamp>datetimestamp</lle:datetimestamp>
			</lle:end-time>
		</lle:video>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID5</lle:eventid>
		<lle:tweet>
			<lle:text>Lately i've been hard to reach</lle:text>
			<lle:location>
				<lle:lat>-30.5146</lle:lat>
				<lle:long>115.5184</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID6</lle:eventid>
		<lle:tweet>
			<lle:text>I've been too long on my own</lle:text>
			<lle:location>
				<lle:lat>-31.6892</lle:lat>
				<lle:long>115.1235</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID7</lle:eventid>
		<lle:tweet>
			<lle:text>Everybody has a private world that they can be alone</lle:text>
			<lle:location>
				<lle:lat>-31.5468</lle:lat>
				<lle:long>115.8605</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID8</lle:eventid>
		<lle:tweet>
			<lle:text>Are you calling me?</lle:text>
			<lle:location>
				<lle:lat>-31.2153</lle:lat>
				<lle:long>115.8765</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID9</lle:eventid>
		<lle:tweet>
			<lle:text>Are you trying to get through</lle:text>
			<lle:location>
				<lle:lat>-31.9521</lle:lat>
				<lle:long>115.8778</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID10</lle:eventid>
		<lle:tweet>
			<lle:text>Are you reaching out for me?</lle:text>
			<lle:location>
				<lle:lat>-31.1513</lle:lat>
				<lle:long>115.8468</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID11</lle:eventid>
		<lle:tweet>
			<lle:text>Like i'm reaching out for you...</lle:text>
			<lle:location>
				<lle:lat>-32.9505</lle:lat>
				<lle:long>114.4568</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID12</lle:eventid>
		<lle:tweet>
			<lle:text>I'm just so fucking depressed</lle:text>
			<lle:location>
				<lle:lat>-31.1535</lle:lat>
				<lle:long>115.7852</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID13</lle:eventid>
		<lle:tweet>
			<lle:text>I just can't seem to get out this slumpy</lle:text>
			<lle:location>
				<lle:lat>-31.3291</lle:lat>
				<lle:long>115.1235</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID14</lle:eventid>
		<lle:tweet>
			<lle:text>If I could just get over this hump</lle:text>
			<lle:location>
				<lle:lat>-31.7865</lle:lat>
				<lle:long>115.4225</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID15</lle:eventid>
		<lle:tweet>
			<lle:text>But I need somethin' to pull me out this dump</lle:text>
			<lle:location>
				<lle:lat>-33.5896</lle:lat>
				<lle:long>114.1235</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID16</lle:eventid>
		<lle:tweet>
			<lle:text>I took my bruises, took my lumps</lle:text>
			<lle:location>
				<lle:lat>-33.8505</lle:lat>
				<lle:long>115.7655</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID17</lle:eventid>
		<lle:tweet>
			<lle:text>Fell down and I got right back up</lle:text>
			<lle:location>
				<lle:lat>-31.1256</lle:lat>
				<lle:long>115.7854</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID18</lle:eventid>
		<lle:tweet>
			<lle:text>But I need that spark to get psyched back up</lle:text>
			<lle:location>
				<lle:lat>-31.9865</lle:lat>
				<lle:long>115.7542</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID19</lle:eventid>
		<lle:tweet>
			<lle:text>In order for me to pick the mic back up</lle:text>
			<lle:location>
				<lle:lat>-31.7865</lle:lat>
				<lle:long>115.7777</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID20</lle:eventid>
		<lle:tweet>
			<lle:text>I don't know how or why or when</lle:text>
			<lle:location>
				<lle:lat>-31.6666</lle:lat>
				<lle:long>115.9999</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID21</lle:eventid>
		<lle:tweet>
			<lle:text>I ended up in this position i'm in</lle:text>
			<lle:location>
				<lle:lat>-31.8888</lle:lat>
				<lle:long>115.4444</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID22</lle:eventid>
		<lle:tweet>
			<lle:text>I'm starting to feel distant again</lle:text>
			<lle:location>
				<lle:lat>-31.3333</lle:lat>
				<lle:long>115.2222</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID23</lle:eventid>
		<lle:tweet>
			<lle:text>So I decided just to pick this pen</lle:text>
			<lle:location>
				<lle:lat>-31.1111</lle:lat>
				<lle:long>115.1111</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
		<lle:Event>
		<lle:eventid>ID24</lle:eventid>
		<lle:tweet>
			<lle:text>Up and try to make an attempt to vent</lle:text>
			<lle:location>
				<lle:lat>-31.1928</lle:lat>
				<lle:long>115.4687</lle:long>
			</lle:location>
			<lle:datetimestamp>datetimestamp</lle:datetimestamp>
		</lle:tweet>
	</lle:Event>
</SOAP-ENV:Body>
</SOAP-ENV:Envelope>
